/* test files are linked */
body {
  
  color:black;
  background-color:none;
}
h1 {
  color:black;
}

.input-field {
  color:black;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  background-color: grey;
  text-transform: lowercase;
}
 
 .background-image {
  background-image: url(/images5.jpg);

 }

  

